{
  "fields": {
    "sleep_mode": {
      "source": "sleep_mode",
      "type": "on_off_bool",
      "default": false,
      "track_original": true
    },
    "climate_temperature": {
      "source": "climate_temperature",
      "type": "float",
      "default": 20
    },
    "light_main": {
      "source": "light_main",
      "type": "light"
    },
    "device_available": {
      "source": "device_state",
      "type": "availability",
      "unavailable_value": "unavailable",
      "default": true
    }
  }
}
