{
  "topics": {
    "music": "music",
    "devices": "screen_commands/incoming",
    "actions_outgoing": "screen_commands/outgoing",
    "update_music": "screen_commands/update_music",
    "alert": "screen_commands/alert",
    "doorbell_command": "",
    "doorbell": "",
    "printer_progress": "",
    "calendar": "",
    "print_start": "",
    "print_done": "",
    "print_cancelled": "",
    "print_change_filament": "",
    "print_change_z": ""
  }
}
